.rates {
    padding: var(--padding);
    border-bottom: var(--border-bottom);
    background: #17181B;
    margin-bottom: var(--padding);
}

.rates__conversion {
    display: flex;
    margin-bottom: 15px;
}

.rates__conversion--data {
    display: flex;
    align-items: center;
}

.rates__conversion--data > div,
.rates__conversion--data > svg {
    margin-right: 15px;
}

.rates__conversion--data .rate {
    font-size: 20px;
    line-height: 24px;
}

.rates__changes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* .rates__changes > div {

    border-left: var(--border-bottom);
}

.rates__changes > div:first-child {
    border-right: 0;
    border-left: 0;
} */

.rates__changes--info > div {
  display: flex;
  justify-items: space-between;
  align-items: center;
}