.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
    border-bottom: var(--border-bottom);
    background: #17181B;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 130px;


}

.header__nav--img {
    height: 32px;
    width: 32px;

    
}