.tab {
    background: #17181B;


}

.tab-list {
    background: #1C2127;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #262932;
    padding: 5px;
    border-radius: 8px;


}


.tab-list__tab {
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    border: none;
    padding: 5px 20px;
    border-radius: 8px;
}

.tab-list__tab--current {
    background: #E9F0FF0D;
}